@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');

* { /*estilos universal*/
    margin: 0; /*márgenes*/
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif; /*Tipografía del cuerpo*/
    background-color: #f5f4f0;
}

.header {
    background-color: #0f4c81;
    display: flex;
    align-items: center;
    min-height: 10vh; /*altura mínima*/
    padding: 0px 0 0 0;
}

img {
    max-width: 100%;
}
.container {
    max-width: 1200px; /*ancho máx*/
    margin: 0 auto; /*márgen arriba/abajo = 0 - izq/der = auto*/
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #ffffff;
    text-transform: uppercase;  /*a mayus*/
    font-size: 30px;
    font-weight: 700;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 25px;
    color: #ffffff;
    display: block;
    font-weight: 600;
}

#menu {
    display: none;
}
.menu-icon {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.btnIniciar {
    font-family: 'Poppins', sans-serif; /*Tipo de letra*/
    font-size: 18px;
    font-weight: 600;
    margin-top: 12px;
    background-color: transparent; /*fondo transparente*/
    border: 2px solid #f5f4f0; /* borde transparente */
    color: white; /* Color del texto */
    border-radius: 50px; /*redondeo de borde*/
    padding: 10px 20px; /* Espacio alrededor del texto */
    text-align: center; /* Alineación del texto */
    cursor: pointer; /* Cambia el cursor a una mano cuando pasas por encima */
}

.btnUnirse {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 600;
    background-color: #ffffff;
    border: 2px solid #f5f4f0; 
    border-radius: 50px;
    color: #0f4c81; 
    padding: 10px 20px; 
    text-align: center; 
    cursor: pointer; 
}

.btnIniciar:hover {
    background-color: #2187c2ad;
}

.information-content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.information-img1 {
    width: 800px;
    height: 100%;
    margin-right: 30px;
}

.information-b1 {
    padding: 50px;
    text-align: left;
}

.information-1 p {
    font-size: 35px;
    color: #2c2c2c;
    text-transform: uppercase;
    font-weight: 600;
}

.information-img1 img {
    width: 800px;
    height: 100%;
}

.search-content {
    margin-left: 20px;
}

.search-container {
    display: flex;
    padding: 20px ;
    background-color: #ffffff;
    border: 2px solid #0f4c81;
    border-radius: 50px;
}

.search-input {
    border: 2px solid #2c2c2c5d;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #0f4c81;
}

.search-button {
    background-color: #0f4c81;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap; 
} 



@media (max-width:991px) {
    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #837357df ;
        
        display: none;
    }

    .menu .navbar ul li a:hover {
        color:#2c2c2c;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

}